<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Resultado</title>
</head>
<body>
    <div class="form-container">
        <h1>Resultado</h1>
        <p>Nombre más largo: {{ nombre }}</p>
        <p>Cantidad de caracteres: {{ longitud }}</p>
        <a href="/ejercicio2" class="button">Volver</a>
    </div>
</body>
</html>